*{border:0 ; margin: 0; padding: 0;}
img { border: 0; vertical-align:middle; display:table-cell;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, font { padding: 0; margin: 0;}
ul,li{ list-style-type:none; margin:0px; padding:0px;}
body{ padding: 0; margin:0 auto; font-family: "微软雅黑";font-size:12px;line-height:1.4;z-index:1;}
p{
	margin: 0;
	color: #b2b2b2;
}


a:active,a:hover{
	color: #ff9a98;
}
.header-div-bg{
	background:url(../images/recommend_bg.png) no-repeat;
	background-size:100% 100%;
	height:3.472222rem;
	width: 100%;
}
.avator-box{
	position: relative;
	margin:-1.4rem auto 0;
	width: 2.083333rem;
}
.avator-box>.avator-img{
	width: 2.083333rem;
	height: 2.083333rem;
	border-radius: 50%;
	position: relative;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	object-fit: cover;
}
.avator-box>.avator-v{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 20px;
}
.sex-box{
    background: #ff9a98;
    position: absolute;
    bottom: -1px;
    right: -50px;
    padding: 0 5px;
    /*height:18px;*/
    /*line-height:15px;*/
    border-radius: 30px;
    color: #fff;
		overflow:hidden;
}
.sex{
	width:12px;
	height:12px;
	float:left;
	margin-top:3px;
	background-image: url(../images/sex.png);
	background-repeat: no-repeat;
  background-size: 20px 9.63px;
	overflow:hidden;
}
.age{
	height:15px;
	float:left;
	line-height:15px;
	font-size:11px;
	margin-left:1px;
	overflow:hidden;
}
.sex.woman{
	background-position:1px 0px;
}
.sex.man{
	background-position:-11px 0px;
}


/*.sex{
    display: inline-block;
    width:10px;
    height:11.54px;
		margin-top:4px;
    background-image: url(../images/sex.png);
    background-repeat: no-repeat;
    background-size: 20px 9.63px;
    vertical-align: middle;
}
.sex.woman{
	background-position:2px 0px;
}
.sex.man{
	background-position:-10px 0px;
}
.age{
	  display: inline-block;
	vertical-align:-2px;
	font-size:11px;
}*/
.user-intro{
	margin:0.277777rem 0;
	text-align: center;
	color:#b2b2b2;
	font-size: 0.388888rem;
}
.user-name{
	color: #222;
	font-size:0.444444rem;
}
.love{
	margin: 0.138888rem 0;
}
.recommend-btn{
	font-size:0.38rem;
	padding:0 0.5rem;
	height: 0.7rem;
	line-height:0.71rem;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	border: 1px solid #ff9a98;
	color: #ff9a98;
	border-radius: 0.833333rem;
}
#distance{
	margin-top:3px;
	margin-left:5px;
}
.img-adress{
	float: left;
    width:10px;
    height:13px;
    background-image: url(../images/address_icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.list{
	padding: 0.305555rem;
	align-items: center;
}
.flex-wrap{
	flex-direction: column;
}
.ownTop{
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
.list-title{
	font-size:0.35rem;
	color: #333;
	margin-right: 0.3rem;
	float: left;
	line-height: inherit;
}
.active-list{
	width: 2.2rem;
	float: left;
	height: 2.4rem;
	border-radius: 0.138888rem;
	overflow: hidden;
	position: relative;
	margin-right: 0.216666rem;
}
.moreBox{
	width: 50%
}
.active-list-box,
.moreBox{
	padding:0 0.305555rem;
	position: relative;
	/*width: 50%*/
}
.active-list>.img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.active-list .paly_icon{
	width: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mui-clearfix{
	display: inline-block;
}
.moreBox i,
.active-list-box i {
	position: absolute;
	display: block;
	width: 8px;
	height: 16px;
	right: 8px;
	top: 7px;
	background-image: url(../images/arrow-right.png);
	background-repeat: no-repeat;
	background-size: 8px 16px;
	background-position: 0px 0px;
}
.more{
	text-align: right;
    position: absolute;
    right: 0;
    bottom: 4px;
}
.center-ul {
	margin:0.4rem 0.305555rem 0;
}

.center-ul li {
	height:35px;
	line-height:35px;
	overflow: hidden;
	font-size: 13px;
	color: #666666;
	padding:0 0.305555rem;
}

/*.center-dul li:last-child::after {
	height: 0;
}*/

.center-ul li span.icon {
	display: block;
	width:15px;
	height:15px;
	margin-top:10px;
	margin-left:3px;
	float: left;
	background-repeat: no-repeat;
	background-size: 100%;
}
.center-ul li span.icon.phone-icon{
	background-image: url(../images/Datashape10.png);
}
.center-ul li span.icon.phone-user{
	background-image: url(../images/Datashape11.png);
	margin-left: 0.177777rem;
}
.center-ul li span.icon.phone-weixin{
	background-image: url(../images/Datashape12.png);
	margin-left: 0.177777rem;
}

.center-ul li span.icon.phone-email{
	background-image: url(../images/Datashape13.png);
	margin-left: 0.177777rem;
}

.center-ul li span.icon.phone-education{
	background-image: url(../images/Datashape14.png);
	margin-left: 0.177777rem;
}

.center-ul .mui-table-view-cell i {
	top: 11px;
}

.center-ul li label {
	display: block;
	float: left;
	padding-left: 5px;
	font-size: 15px;
	color: #B2B2B2;
}

.center-ul li e {
	margin-right: 31px;
	margin-top: 12px;
	float: right;
}

.center-ul li b {
	position: absolute;
	right: 33px;
	top: 19px;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fea443;
}

.center-ul li i {
	position: absolute;
	display: block;
	width: 13px;
	height: 24px;
	right: 8px;
	top: 11px;
	background-image: url(../images/arrow-right.png);
	background-repeat: no-repeat;
	background-size: 13px 24px;
	background-position: 0px 0px;
}

.span-text {
	float: right;
	margin-right: 0.8rem;
	font-size: 12px;
	color: #b2b2b2;
}

.center-ul li.visitor-box{
	height: auto;
	line-height: initial;
	padding-bottom: 0.4rem;
}

.center-ul li.visitor-box .visitor-box-list{
	width: 1.1rem;
	height: 1.1rem;
	display: inline-block;
}
.center-ul li.visitor-box .visitor-box-list>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.center-ul li.visitor-box .more{
	bottom: 22px;
}

.make-appointment{
	width:94.7%;
	height:70px;
	margin:0 auto;
	overflow:scroll;
}

/**/

#segmentedControl{
	height:70px;
	overflow:hidden;
}
#segmentedControl > li{
	width:59px;
	height:70px;
	float:left;
	margin-left:5px;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #ff9a98;
}
#segmentedControl > li >div.noactive{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
#segmentedControl > li >div.active{
	color: #ff9a98;
}

#segmentedControl > li .p1{
	width:36px;
	height:32px;
	margin:10px auto 0;
	overflow:hidden;
}
#segmentedControl > li .p1 img{
	width:100%;
	margin:auto;
	overflow:hidden;
}
#segmentedControl > li .p2{
	font-size:12px;
	text-align:center;
	color:#B2B2B2;
	margin-top:3px;
}
.make-appointment::-webkit-scrollbar {
    display: none;
}

.mui-segmented-control.mui-segmented-control-inverted{
	display: flex;
}
.mui-segmented-control .mui-control-item{
	width: auto;
	flex: 1;
    white-space: initial;
    line-height: initial;
        margin-bottom: 2px;
}

.mui-control-item .appointment-head span.icon {
	width: 28px;
	height: 28px;
	display: block;
	background-image: url(../images/appointment.png);
	background-repeat: no-repeat;
	background-size: 130px 90px;
	margin: 0 auto;
}
.mui-control-item .appointment-head{
	border:1px solid #ff9a98;
	color:#B2B2B2;
	border-radius: 4px;
	padding: 0.138888rem 0;
	margin-left: 5px;
	font-size: 0.388888rem;
}
.mui-control-item .appointment-head span.icon.movie{
        background-position: -34px -63px;
}

.mui-control-item .appointment-head span.icon.eat{
    background-position:-34px -33px
}

.mui-control-item .appointment-head span.icon.ktv{
    background-position: -99px -61px;
}

.mui-control-item .appointment-head span.icon.motion{
    background-position: -99px -3px;
}

.mui-control-item .appointment-head span.icon.pub{
    background-position:-2px -62px;
}

.mui-control-item .appointment-head span.icon.game{
    background-position: -3px -4px;
}
.mui-control-item.mui-active .appointment-head span.icon.eat{
    background-position: -68px -3px;
}
.mui-control-item.mui-active .appointment-head span.icon.movie{
    background-position:-3px -34px;
}
.mui-control-item.mui-active .appointment-head span.icon.ktv{
    background-position:-65px -61px;
}
.mui-control-item.mui-active .appointment-head span.icon.motion{
    background-position: -100px -32px;
}

.mui-control-item.mui-active .appointment-head span.icon.pub{
    background-position: -68px -31px;
}
.mui-control-item.mui-active .appointment-head span.icon.game{
    background-position: -35px -5px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	border: 0;
	color: transparent;
}
 .mui-control-item.mui-active .appointment-head{
	color:#ff9a98;
}
.make-appointment-body{
	margin-top: 0.4rem;
	padding:0.416666rem;
	box-shadow: 0 0 1em #e4dede;
	border-radius: 0.216666rem;
	display: none;
}
.make-appointment-body-head{
	font-size:0.416666rem;
	color: #333;
	line-height: 0.4rem;
	padding-bottom:0.416666rem;
}
.line-box{
	height: 0.4rem;;
	line-height: 0.4rem;
	width: 3px;
	background:#ff9a98;
	display: inline-block;
	margin-right: 0.216666rem;
	vertical-align: -2px;
}
.make-appointment-body .model-list{
	padding: 0.305555rem 0 0;
	color: #444;
	font-size: 0.388888rem;
}
.make-appointment-body .model-list .details-intro-tit{
	color:#ff9a98;
	font-size: 0.388888rem;
	padding-bottom: 0.238888rem;
}

/*评论区*/
.comment-wrapper{
	width: 95%;
    margin:0.555555rem auto;
}
.comment-wrapper .comment-head{
	background: #f7f7f7;
	padding: 0.277777rem 0.277777rem 0;
}
.comment-box li{
	padding: 0.277777rem ;
}
.comment-box li:nth-of-type(odd){
	background: #f7f7f7;
}
.comment-box li .user-intro{

}
.comment-box li .user-intro .user-img{
	width: 0.972222rem;
	height:0.972222rem;
	overflow: hidden;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 0.277777rem;
}
 .comment-box li .user-intro .name{
	font-size:0.388888rem;
	color: #222;
	text-align: left;
	font-weight: 500;
}
 .comment-box li .comment-con{
	font-size:0.388888rem;
	color: #666;
	padding-bottom: 0.277777rem;
}
 .comment-box li .com-user{
    position: initial;
    display: inline-block;
    float: left;
    margin-left: 0.138888rem;
}
.comment-footer{
	color: #666;
	font-size:0.375rem;
	padding-top: 0.277777rem;
}
.comment-footer .comfirm-comment{
	margin-left: 0.816666rem;
}
.comment-footer .comment-img{
	height:16px;
	display: inline-block;
	margin-right: 0.138888rem;
	vertical-align: -3px;
}
.comment-footer .comfirm-comment .love-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/SquarePL_07.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: -3px;
    background-position: -1px 0;
	 margin-right: 0.138888rem;

}
.comment-footer .comfirm-comment.active .love-icon{
    background-image: url(../images/SquarePL_09.png);

}

footer{
	background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, 0.05);

}
footer .comfirm-comment{
	font-size: 15px;
    height: 55px;
    line-height: 50px;
    margin-left:1.666666rem;
}
footer .comment-img{
	height:24px;
	display: inline-block;
	margin-right:0.277777rem;
	vertical-align: middle;
}
.Submission {
	position: relative;
}

.btnSummit {
    background: url(../images/btn-bg2.png) no-repeat;
    background-size: 120px 55px;
    width: 100%;
    border: none;
    height: 55px;
    line-height: 36px;
    color: #fff;
    padding: 0;
    background-position: center;
}
.application-form{
	position: fixed;
	bottom: 55px;
	right: 1.222222rem;
	border-radius: 4px 4px 0 0;
	background: #fff;
	z-index: 9999;
}
.application-form>li a{
	display: block;
	padding:0.3rem 0.555555rem;
	text-align: center;
	color: #333;
	font-size: 15px;
	transition: all 4s ease;
}
.application-form>li a:active{
	color: #ff9a98;
}
.drawer_screen{
	bottom: 55px;
	top: initial;
}
.sel-drawer_box{
	display: none;
}
header{
	position:relative;
}
.header-right-icon{
	position: absolute;
    display: block;
    width: 13px;
    height: 24px;
    left:20px;
    top: 15px;
    padding: 20px;
    background-image: url(../images/right-icon.png);
    background-repeat: no-repeat;
    background-size: 13px 24px;
    background-position: 0px 0px;
}


.cell-list .cell-item .cell-hd .tip {
	color: #ff9694;
	line-height: 1.5;
}

.appoint-list li{
	line-height: 0.8rem;
}
.appoint-list li .lab {
	width: 1.9rem;
	font-size:0.375rem;
	color: #b3b3b3;
	text-align: right;
	margin-right: 6px;
}
.appoint-list li .con {
	color: #333333;
}
.cell-list .cell-item {
	border-top: 1px solid #f5f5f5;
	font-size: 15px;
}
.cell-list .cell-item .cell-hd {
	align-items: center;
	line-height: 45px;
	position: relative;
}
 .cell-item-title {
	font-size: 0.416666rem;
	color: #333333;
	width: 2rem;
	text-align: right;
	margin-right: 4px;
	padding-right: 8px;
	font-weight: 600;
}
/*------------------------------------------------*/
/*视频图片*/
.InviteVideoImg,.InviteVideoImgOne,.InviteVideoImgTwo{
	width:91.5%;
	margin:10px auto;
	overflow:hidden;
}
.InviteVideoImgOne img{
	width:70%;
	margin:0 auto;
	overflow:hidden;
}
.InviteVideoImgTwo > li{
	width:49%;
	float:left;
	margin-right:2%;
}
.InviteVideoImgTwo > li:last-of-type{
	margin-right:0;
}
.InviteVideoImgTwo > li img{
	width:100%;
	margin:0 auto;
	overflow:hidden;
}
.InviteVideoImg > li{
	width:33.33%;
  height:100px;
	float:left;
	margin-bottom:5px;
}
.InviteVideoImg > li img{
	width:95%;
  height:95%;
	margin:2.5% auto 0;
	overflow:hidden;
}
