@charset "utf-8";

/*--S个人主页 我的消息--*/

.personal-homepage-data ul.mui-table-view::before, .personal-homepage-data ul.mui-table-view::after {
    height: 0 !important;
}

.personal-homepage-data ul.homepage-ul-line::before {
    height: 1px !important;
    background-color: #f2f2f2 !important;
}

.personal-homepage-data ul li {
    position: relative;
}

.personal-homepage-data ul li::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    /*background-color: red;*/
    background-color: #f2f2f2;
}

.personal-homepage-data ul.order-info li::after {
    height: 0 !important;
}

.personal-homepage-data .news-unread {
    background-color: #fafafa;
}

.personal-homepage-data .mui-media-body {
    padding-top: 4px;
}

.news-unread .mui-media-body span, .concerns-list .mui-media-body span, .income p {
    font-size: 14px;
    color: #333333;
}

.news-unread .mui-media-body p, .news-read .mui-media-body p, .concerns-list .mui-media-body p {
    font-size: 12px;
    color: #999999;
}

.news-unread .mui-text-right .mui-h5, .news-read .mui-text-right .mui-h5 {
    font-size: 11px;
    color: #b2b2b2;
}

.news-badge {
    background-color: #ff9694;
    color: #fff;
    font-style: normal;
    font-size: 13px;
    display: none;
}

.news-unread .mui-text-right span {
    display: block;
}

.mui-table-view .mui-media-object {
    max-width: 48px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
}

.news-read {
    background-color: #fff;
}

.news-read .mui-media-body span {
    font-size: 14px;
    color: #999999;
    font-weight: 500;
}


/*--E个人主页 我的消息--*/


/*--S个人主页 关注列表--*/

ul.fans {
    display: none;
}

.search {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.concerns input {
    display: block;
    height: 37px;
    border: none !important;
    line-height: 37px;
    padding-left: 13px;
    margin-top: 15px;
    border-radius: 37px;
    font-size: 14px;
    color: #333333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.concerns .search i {
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../images/search.png);
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 8px;
    right: 14px;
}

.concerns-list .mui-media-body span em {
    /*font-style: normal;*/
    width: 50%;
    height: 20px;
    font-style: normal;
    display: inline-grid;
    overflow: hidden;
}

.concerns-list .mui-media-body span i {
    display: block;
    width: 16px;
    height: 16px;
}

.concerns-list .mui-media-body span {
    position: relative;
}

.concerns-list .mui-media-body i {
    position: absolute;
    top: -1px;
    right: -19px;
    width: 16px;
    height: 16px;
    /*background-image: url(../images/bg-icon.png);*/
    background-size: 16px 16px;
    background-repeat: no-repeat;
    /*background-position: -275px -24px;*/
}

.concerns-nav ul {
    display: flex;
}

.concerns-nav ul li {
    position: relative;
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #999999;
    font-size: 17px;
}

.concerns-nav ul li.active {
    color: #333333;
}

.concerns-nav ul li.active::after {
    display: block;
    content: "";
    width: 46px;
    height: 2px;
    background-color: #ff9694;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -23px;
}

.concerns-nav ul li.add-friends {
    font-size: 14px;
}

.personal-homepage-data .concerns-list button {
    width: 92px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    margin-top: 4px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

.personal-homepage-data .concerns-list button.concerned {
    /*background-image: url(../images/bg-icon.png);
    background-position: 0px -186px;*/
}

.personal-homepage-data .concerns-list button.unconcerned {
    /*background-image: url(../images/bg-icon.png);
    background-position: -107px -187px;*/
}


/*--S个人主页 关注列表--*/


/*--S个人主页 收支明细--*/

.income-ul {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.personal-homepage-data ul.income-ul li::after {
    height: 0 !important;
}

.income-ul .mui-table-view-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.income-ul .mui-table-view-cell:after {
    left: 0 !important;
}

.order-search .search {
    position: relative;
    width: 100%;
    float: left;
}

.order-search .search input {
    display: block;
    height: 35px;
    border: none !important;
    line-height: 35px;
    margin-bottom: 0 !important;
    padding-left: 13px;
    border-radius: 35px;
    font-size: 14px;
    color: #333333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.order-search .search i {
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../images/search.png);
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 8px;
    right: 14px;
}

.order-search {
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
}

.order-search span {
    position: relative;
    display: block;
    float: left;
    width: 24%;
    height: 35px;
    line-height: 35px;
    margin-right: 2%;
    padding-left: 13px;
    border-radius: 35px;
    font-size: 14px;
    color: #333333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.order-search span i {
    position: absolute;
    right: 15px;
    top: 11px;
    width: 14px;
    height: 11px;
    background-image: url(../images/bg-icon.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: -114px -53px;
    background-position: -252px -5px
}

.income {
    padding-top: 4px;
    padding-bottom: 4px;
}

.income-type {
    width: 34px;
    height: 34px;
    margin-top: 6px;
    margin-right: 10px;
    float: left;
    font-size: 16px;
    border-radius: 50%;
    background-color: #ff9694;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.income-type span {
    padding-top: 6px;
    display: block;
}

.expenditure {
    background-color: #c7d9ff !important;
}

.income .mui-media-body span {
    font-size: 11px;
    color: #b2b2b2;
}

.income .mui-text-right span.mui-h5 {
    font-size: 16px;
    color: #333333;
    vertical-align: middle;
}


/*--E个人主页 收支明细--*/


/*--S个人主页 资料设置*/

.data-setting .head {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.data-setting .head img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.data-setting .mui-navigate-right:after {
    color: #e5e5e5;
}

.data-setting li {
    font-size: 15px;
    color: #333333;
}

.data-setting li {
    /*height: 56px;*/
    height: auto;
}

.data-setting li label {
    display: block;
    float: left;
    padding-top: 7px;
}

.data-setting .mui-pull-right {
    margin-right: 15px;
}

.data-setting .mui-table-view-cell span {
    font-size: 12px;
    color: #999999;
}

.data-setting .mui-table-view-cell span.span-text {
    padding-top: 7px;
}

.data-setting .mui-table-view-cell i, .homepage-ul .mui-table-view-cell i {
    position: absolute;
    display: block;
    width: 18px;
    height: 32px;
    right: 8px;
    top: 14px;
    background-image: url(../images/bg-icon.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: -176px -142px;
}


/*--E个人主页 资料设置*/


/*--S个人主页--*/

.homepage-action-back {
    position: absolute;
    top: 12px;
    display: block;
    width: 15px;
    height: 20px;
    background-image: url(../images/bg-icon.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: -144px -3px;
}

.homepage-top {
    position: relative;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-top .homepage-top-info {
    width: 95%;
    margin: 0 auto;
}

.homepage-top .homepage-top-info span {
    display: block;
    float: right;
}

.homepage-top .homepage-top-info span i {
    display: block;
    float: left;
    margin-left: 2px;
    margin-top: 20px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f7e1e2;
}

.homepage-top-info .mui-action-back {
    color: #fff;
    margin-top: 15px;
}

.homepage-top .homepage-top-info .head-photo {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 50%;
    top: 55px;
    margin-left: -38px;
    margin-top: -38px;
    border-radius: 50%;
    z-index: 5
}

.homepage-top-info .homepage-name {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    padding-top: 99px;
    position: relative;
}

.homepage-top .homepage-top-info .head-photo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.photo {
    position: relative;
}

.photo i {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 59px;
    right: 6px;
    background-image: url(../images/man-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*  background-position: -273px -2px;*/
}

.home-info {
    position: absolute;
    display: flex;
    left: 50%;
    width: 96%;
    height: 55px;
    margin-left: -48%;
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
    margin-top: -18px;
}

.home-info .info-item {
    flex: 1;
    text-align: center;
    padding: 0px;
    border-radius: 25px;
}

.home-info .info-item span {
    display: block;
    padding-top: 6px;
    font-size: 13px;
    color: #999999;
}

.home-info .info-item label {
    display: block;
    font-size: 15px;
    color: #333333;
}

.homepage-ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 49px;
}

.homepage-ul li {
    height: 50px;
    font-size: 15px;
    color: #666666;
}

.homepage-ul li span.icon {
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    background-image: url(../images/bg-icon.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

.homepage-ul .home-icon span {
    background-position: -2px -144px;
}

.homepage-ul .message-icon span {
    background-position: -119px -146px;
}

.homepage-ul .come-icon span {
    background-position: -34px -145px;
}

.homepage-ul .order-icon span {
    background-position: -67px -144px;
}

.homepage-ul .friend-icon span {
    background-position: -94px -144px;
}

.homepage-ul .news-icon span {
    background-position: -119px -146px;
}

.homepage-ul .set-icon span {
    background-position: -148px -144px;
}
.interestImg{
  float: left;
  width: 19px;
  height: 15px;
  margin-top: 10px !important;
  margin-left: 3px
}
.grounpImg{
  float: left;
  width: 19px;
  height: 12px;
  margin-top: 7px !important;
  margin-left: 3px
}
.giftImg{
  float: left;
  width: 17px;
  height: 12px;
  margin-top: 7px !important;
  margin-left: 3px
}
.sendImg{
  float: left;
  width: 19px;
  height: 13px;
  margin-top: 7px !important;
  margin-left: 3px
}
.enjoyImg{
  float: left;
  width: 19px;
  height: 14px;
  margin-top: 7px !important;
  margin-left: 3px
}
.newImg{
  /*width: 100%;*/
  height: 100%;
}
.homepage-ul li.userinfo-icon span {
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    background-image: url(../images/userinfo-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.homepage-ul li.InvitationCode {
    display: none;
}

.homepage-ul li.InvitationCode .icon {
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    background-image: url(../images/InvitationCode.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.homepage-ul li.NoviceTask .icon {
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    background-image: url(../images/InvitationCode.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.homepage-ul li.auth-icon span {
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    background-image: url(../images/auth-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
}

.homepage-ul li.wx-icon .icon {
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    background-image: url(../images/kefu-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px
}

.homepage-ul .mui-table-view-cell i {
    top: 11px;
}

.homepage-ul li label {
    display: block;
    float: left;
    padding-top: 4px;
    padding-left: 5px;
}

.homepage-ul li e {
    margin-right: 14px;
}

.homepage-ul li b {
    position: absolute;
    right: 33px;
    top: 19px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff9694;
}

.homepage-ul .mui-table-view-cell span {
    font-size: 12px;
    color: #b2b2b2;
    margin-top:5px;
}

.homepage-btn {
    display: block;
    width: 155px;
    height: 36px;
    border: 1px solid #cccccc;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 36px;
    font-size: 15px;
    font-weight: 500;
    color: #999999;
}

button.homepage-btn:active {
    background-color: #fff;
    color: #999999;
}

.span-text {
    margin-right: 16px;
}


/*--E个人主页--*/


/*--S个人主页 我的订单--*/

.personal-homepage-data .order-tab {
    display: flex;
    width: 95%;
    height: 40px;
    line-height: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #999999;
    border-radius: 40px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.personal-homepage-data .order-tab .tab-item {
    position: relative;
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

.personal-homepage-data .order-tab span.active {
    color: #333333;
}

.personal-homepage-data .order-tab span.active::after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #ff9694;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -25px;
}

.order-info li {
    width: 95%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    margin: 5px auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #b2b2b2;
    font-size: 12px;
}

.order-info li .order-p {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.order-info li .info-content {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.order-info li .info-content .info-content-item {
    flex: 1;
}

.order-info li p {
    font-size: 12px;
}

.order-info li .info-content-item p {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 8px
}

.order-num {
    height: 37px;
    line-height: 37px;
}

.order-info li .info-content p label, .order-p label {
    display: block;
    width: 48px;
    margin-right: 8px;
    float: left;
    text-align: right;
}

.order-info li .info-content p span {
    font-size: 14px;
    color: #333333;
}

.order-btn-div {
    width: 85%;
    margin: 0 auto;
    margin-top: 12px;
}

.order-btn-div button {
    display: block;
    width: 40%;
    height: 33px;
    border: none;
    border-radius: 33px;
    text-align: center;
    font-size: 15px;
}

.order-btn-div button.del-btn {
    float: left;
    color: #999999;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}

.order-btn-div button.del-btn:active {
    background-color: #fff;
    color: #999999;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}

.order-btn-div button.accept-btn {
    float: right;
    background-color: #ff9694;
    color: #fff;
}

.order-btn-div button.acceptlist-btn {
    float: right;
    background-color: #ff9694;
    color: #fff;
}

.order-btn-div button.success-btn {
    float: right;
    background-color: #ff9694;
    color: #fff;
}

.order-btn-div button.successinvitation-btn {
    float: right;
    background-color: #ff9694;
    color: #fff;
}

#j-order-section ul {
    display: none;
}

#j-order-section ul.active {
    display: block;
}


/*--E个人主页 我的订单--*/

.mui-btn-blue {
    color: #fff;
    border: 1px solid #ff9694 !important;
    background-color: #ff9694 !important;
}

#no-conent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 151px;
    height: 180px;
    margin-top: -90px;
    margin-left: -75px;
}

#no-conent img {
    width: 100%;
}

/*------------------------------------------*/


/*关注粉丝/访客*/


/*搜索框*/

.SearchBox {
    width: 94.7%;
    height: 40px;
    margin: 5px auto;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 3px 1px #f2f2f2;
}

.SearchInput {
    width: 85%;
    height: 40px;
    text-indent: 1em;
    overflow: hidden;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.SearchBoxP {
    width: 20px;
    height: 20px;
    background: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 15px;
}


/*粉丝、关注*/

.concerns {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
}

.ConcernFans, .Message, .Details {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
}

.ConcernFans>li, .Message>li {
    width: 100%;
    height: 67px;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}

.ConcernFansAvatar, .MessageAvatar {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 9.5px;
    margin-left: 3%;
    border-radius: 100%;
    overflow: hidden;
}

.ConcernFansAvatar img, .MessageAvatar img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.ConcernFansCenter, .MessageCenter {
    width: 45%;
    float: left;
    margin-left: 3%;
    margin-top: 13.5px;
    overflow: hidden;
}

.ConcernFansRight {
    width: 30%;
    float: left;
    margin-left: 3%;
    overflow: hidden;
}

.CFRToTime {
    width: 100%;
    margin-top: 16px;
    font-size: 10px;
    color: #ccc;
}

.ConcernFansCU {
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.ConcernFansCUL {
    max-width: 65%;
    height: 20px;
    float: left;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.ConcernFansCUR {
    width: 35px;
    height: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 2.5px;
    border-radius: 10px;
    background: #FF9694;
    overflow: hidden;
    position: relative;
}

.ConcernFansCUR .span1 {
    font-size: 11px;
    color: #fff;
    line-height: 15px;
    /*text-align:right;*/
    position: absolute;
    z-index: 2;
    left: 5px;
}

.ConcernFansCUR .span2 {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: -2px;
    right: 1px;
}

.ConcernFansCUR .span2 img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.man {
    background: url(../images/man-icon.png) no-repeat;
    background-size: 100% 100%;
}

.woman {
    background: url(../images/woman-icon.png) no-repeat;
    background-size: 100% 100%;
}

.CFCSignature {
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    overflow: hidden;
}

.CFRMutual {
    width: 90px;
    height: 30px;
    margin: 18.5px auto;
    overflow: hidden;
}

.CFRMutual img {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#no-conent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 151px;
    height: 180px;
    margin-top: -90px;
    margin-left: -75px;
}

#no-conent img {
    width: 100%;
}
.changeinfo{
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,.5);
}
.changeImg{
  width: 20px;
height: 20px;
/*position: absolute;*/
/*z-index: 999*/
}
